<div class="country-wrapper">
  <h1>{{ countryData.country }}</h1>
  <div class="info-box">
    <div class="row">
      <div class="col-md-3 col-12 col-sm-6 info">
        <div class="eachinfo">
          <p>TOTAL INFECTED</p>
          <p class="number">{{ countryData.cases }}</p>
        </div>
      </div>
      <div class="col-md-3 col-12 col-sm-6 info">
        <div class="eachinfo">
          <p>TOTAL RECOVERED</p>
          <p class="number">{{ countryData.recovered }}</p>
        </div>
      </div>
      <div class="col-md-3 col-12 col-sm-6 info">
        <div class="eachinfo">
          <p>TOTAL DEATH</p>
          <p class="number">{{ countryData.deaths }}</p>
        </div>
      </div>
      <div class="col-md-3 col-12 col-sm-6 info">
        <div class="eachinfo">
          <p>TOTAL ACTIVE</p>
          <p class="number">{{ countryData.active }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
