<div class="container-fluid general-box">
  <h1>GLOBAL STATISTICS</h1>
  <div class="row">
    <div class="col-12 col-md-4 info-box">
      <img
        class="img-fluid info-img"
        src="../../assets/image/total.jpg"
        alt=""
      />
      <p>TOTAL CASES: {{ data.data.total_cases }}</p>
    </div>
    <div class="col-12 col-md-4 info-box">
      <img
        class="img-fluid info-img"
        src="../../assets/image/death.jpg"
        alt=""
      />
      <p>TOTAL DEATH: {{ data.data.death_cases }}</p>
    </div>
    <div class="col-12 col-md-4 info-box">
      <img
        class="img-fluid info-img"
        src="../../assets/image/recovery.png"
        alt=""
      />
      <p>TOTAL RECOVERY CASES: {{ data.data.recovery_cases }}</p>
    </div>
  </div>
</div>
